<h1>Course Scheduling Assistant</h1>
<%= link_to "Import Spreadsheet", controller: "home", action: "import" %><br />
<%= link_to "Rooms", rooms_path %><br />
<%= link_to "Courses", courses_path %><br />
<%= link_to "Time Slots", times_path %><br />
<%= link_to "List", controller: "home", action: "list" %><br /><br /><br />
<%= link_to "Destroy all data", {controller: 'home', action: 'delete_all'}, confirm: "WARNING: All data will be destroyed. Are you sure you want to do that?", method: 'delete' %>