<div class="ui large inverted black menu absolute top">
	<div class="item uno"></div>
	<div class="item"><img src="~/images/logo-subsite-o-2.png"></div>
	<div class="item">UNO Course Scheduling Assistant</div>
</div>
<div class="ui menu">
	<div class="ui simple dropdown item">Manage
		<div class="menu">
			<div class="item">Works</div>
		</div>
	</div>
	<div class="ui dropdown item">Schedule<div class="menu"></div></div>
	<div class="ui dropdown item">Reports<div class="menu"></div></div>
</div>
<h1>Course Scheduling Assistant</h1>
<%= link_to "Import Spreadsheet", controller: "home", action: "import" %><br />
<%= link_to "Rooms", rooms_path %><br />
<%= link_to "Courses", courses_path %><br />
<%= link_to "Time Slots", times_path %><br />
<%= link_to "List", controller: "home", action: "list" %><br /><br /><br />
<%= link_to "Destroy all data", {controller: 'home', action: 'delete_all'}, confirm: "WARNING: All data will be destroyed. Are you sure you want to do that?" %>