<script>

function ajaxValue(roomdis, timedis, instdis)
{
   $.ajax(
    {
      url: "<%= update_list_sections_path %>",
      data: {
        desk: $("input:radio[name=desk]:checked").val(),
        chair: $("input:radio[name=chair]:checked").val(),
        board: $("input:radio[name=board]:checked").val(),
        room_disabled: roomdis,
        time_disabled: timedis,
        instructor_disabled: instdis,
        room: $("#room_num option:selected").val(),

        mon: $('#mon').checked,
        tue: $('#tue').checked,
        wed: $('#wed').checked,
        thu: $('#thu').checked,
        fri: $('#fri').checked,
        sat: $('#sat').checked,

        stime_h: $('#start_hour option:selected').val(),
        stime_m: $('#start_minute option:selected').val(),
        stime_p: $('#start_period option:selected').val(),

        etime_h: $('#end_hour option:selected').val(),
        etime_m: $('#end_minute option:selected').val(),
        etime_p: $('#end_period option:selected').val()
      },
      dataType: "script"
    });
}

$(document).ready(function()
{
  $('input:radio').click(function()
  {
    ajaxValue("<%= @disabled[:room] %>", true, true);
  });

  $('#room_num option:selected').change(function()
  {
    ajaxValue(true, "<%= @disabled[:time] %>", true);
  });

  $('input:checkbox').click(function()
  {
    ajaxValue("<%= @disabled[:room] %>", true, true);
   
  });

  $('#start-time div.type div select').change(function()
  {
    ajaxValue(true, "<%= @disabled[:time] %>", true);
  });

  $('#end-time div.type div select').change(function()
  {
    ajaxValue(true, "<%= @disabled[:time] %>", true);
  });


});
</script>

<%= form_for @section, url: {controller: 'sections', action: @action} do %>

<div class= "sec-form">
	<div class="block">
    <div class="type">
    </div>
    <div class="type">
      <%= render 'sections/pieces/piece_time', disabled: false %>
    </div>
    <div class="type">
      <%= render 'sections/pieces/piece_room', disabled: disable_room %>
    </div>
  </div>
</div>

<% end %>