<%= render 'sections/form_script' %>

<%= form_for @section, url: {controller: 'sections', action: @action} do %>

<div class= "sec-form">
	<div class="block">
    <div class="type">
    <div class="clear">
      <%= render 'sections/pieces/piece_instructor' %>
    </div>
    <div class="clear">
      <%= render 'sections/pieces/piece_time', disabled: false %>
    </div>
    </div>
    <div class="type">
      <%= render 'sections/pieces/piece_room', disabled: disable_room %>
    </div>
  </div>
</div>

<% end %>