<table class="list-table">
  <tr>
    <td colspan="6"><%= link_to "New Time", new_time_path %></td>
  <tr class="table-heading">
    <th>Days</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Instructors</th>
    <th>Sections</th>
    <th>Rooms</th>
  </tr>
  <% @times.each_with_index do |time, i| %>
  <tr class=<%= @get_class.call(i) %>>
    <td><%= time.days %></td>
    <td><%= get_12h(time.start_time_hour, time.start_time_minute) %></td>
    <td><%= get_12h(time.end_time_hour, time.end_time_minute) %></td>
    <td><%= @instructors[i] %></td>
    <td><%= @sections[i] %></td>
    <td><%= @rooms[i] %></td>
  </tr>
  <% end %>
</table>