<div class="type">
	<div id=<%= "#{time.to_s}_hour" %>>
		<%= render 'sections/pieces/time/unit', unit_name: :start_hour, unit_set: @sets[:times][time][:hours] %>
	</div>
</div>
<div class="type">
	<div id=<%= "#{time.to_s}_minute" %>>
		<%= render 'sections/pieces/time/unit', unit_name: :start_minute, unit_set: @sets[:times][time][:minutes] %>
	</div>
</div>
<div class="type">
	<div id=<%= "#{time.to_s}_period" %>>
		<%= render 'sections/pieces/time/unit', unit_name: :start_period, unit_set: @sets[:times][time][:period] %>
	</div>
</div>
<div class="type">
	<%= label_tag(time.to_s.capitalize) %>
</div>